<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Welcome to LearningFun</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <!-- NAVBAR -->
 <nav class="navbar navbar-expand navbar-light">
    <a class="navbar-brand" href="main.html">Learning Fun!</a>
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="main.html">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="create_account.html">Register</a>
    </div>
    <div class="ml-auto">
        <a class="navbar-brand" href="main.html">
            <img src="/static/images/LearningFun.jpg" alt="Logo" id="navbar-logo">
        </a>
    </div>
  </nav>

<div class="container">
    <div class="jumbotron text-center hero-background-img">
        <h1>Welcome to LearningFun!</h1>
        <p class="lead">Create an account for your child to start the learning adventure.</p>
        <a href="create_account.html" class="btn btn-primary">Get started</a>
    </div>

    <div class="container">
        <!-- Paragraph 1 -->
        <div class="card">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="/static/images/revolutionize.jpg" class="card-img-top" alt="Image 1">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Revolutionizing Education</h5>
                        <p class="card-text">LearningFun is on a mission to revolutionize the way children engage with education by 
                            transforming learning into an exciting and interactive adventure. 
                            Our primary goal is to cultivate a love for knowledge in young minds, making the process of learning not only effective but also enjoyable. 
                            We aspire to provide a dynamic platform where children can discover, explore, and thrive in a supportive and entertaining environment.</p>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Paragraph 2 -->
        <div class="card">
            <div class="row no-gutters">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Fostering Curiosity and Confidence</h5>
                        <p class="card-text">Through engaging content tailored to each child's unique interests, we aim to foster curiosity and build confidence.
                             LearningFun believes that when education is a personalized and enjoyable experience, children develop a natural thirst for knowledge that extends beyond the classroom.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="/static/images/curiosity.jpg" class="card-img-top" alt="Image 2">
                </div>
            </div>
        </div>

        <div class="card">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="/static/images/unlockingPotential.jpg" class="card-img-top" alt="Image 1">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Unlocking Potential Through Playful Exploration</h5>
                        <p class="card-text">Learning is not a chore but a playful exploration at LearningFun.
                             We strive to unlock the full potential of every child by providing an environment where they can learn through play.
                              Our interactive approach transforms traditional subjects into captivating adventures, 
                              ensuring that the joy of discovery stays with them throughout their educational journey.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
